.timer {
  align-self: center;
  border-radius: 4px;
  display: flex;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0;
  width: auto;
  z-index: 0;

  // Mobile responsiveness
  @media (max-width: 480px) {
    font-size: 10px;
  }
}
