@keyframes unlockFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.3) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.puzzlePiece {
  cursor: grab;
  position: absolute;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 0.2s ease;

  &:active {
    cursor: grabbing;
  }

  &.snapped {
    cursor: default;
    pointer-events: none;
  }

  &:focus {
    outline: none;
    path {
      filter: drop-shadow(0 0 6px currentColor) drop-shadow(0 0 12px currentColor);
    }
  }
}

.unlockAnimationWrapper {
  // Outer wrapper: fade in from opacity 0
  animation: unlockGroupFadeIn 0.6s ease-out 0.15s forwards;
}

.unlockAnimation {
  // Inner piece: spin and scale animation
  animation: unlockFadeIn 0.6s ease-out forwards;
}

@keyframes unlockGroupFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
