.puzzleWrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;

  .header {
    font-family: monospace;
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: clamp(50px, 12.5vw, 100px);
    padding-bottom: 24px;
  }

  .puzzleContainer {
    background: #d4edda;
    border-radius: 12px;
    padding: 24px;
  }

  .githubLink {
    bottom: 20px;
    font-family: monospace;
    font-size: 12px;
    font-weight: 600;
    left: 20px;
    padding-top: 24px;
    position: fixed;
  }
}
